.env
vendor/*
node_modules
dist_electron

####################################

php_errors.log
npm-debug.log
*/.idea/*
.idea/*
*.sublime-project
*.sublime-workspace
sftp-config.json
.DS_Store
._*
.fuse_hidden*
.jshintrc
composer.phar
.cache-loader
v8-compile-cache-0
.cache
.phpunit.result.cache
nodejs/app/utils/tmp/*
nodejs/data
php/imports
frontend/aitt/.idea/workspace.xml
